/* BEGIN SETUP (you will not need to use these) */
#intro {
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 50px;
}

.flags {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: medium;
  font-weight: 200;
}
/* END SETUP */

/* Classes that you might find useful */
/* You may also have to implement your own classes */

.flag {
  height: 300px;
  width: 500px;
  border-style: solid;
  margin-bottom: 5rem;
}

.twovert {
  height: 50%;
}

.threevert {
  /*width: 10px;
  height: 10px;
  background-color: white;*/
}

.threehoriz {
  width: 33.3%;
}

.narrow {
  height: 17.5%;
}

.wide {
  height: 30%;
}

.circle {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: relative;
  left: 85px;
  top: 50px;
}

/* Colors */

/* QUESTION 1 */

.red.threevert {
  width: 500px;
  height: 100px;
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.light-blue.threevert {
  width: 500px;
  height: 100px;
  background-color: blue;
}

.lightblue {
  background-color: lightblue;
}

.purple {
  background-color: purple;
}

#white {
  width: 500px;
  height: 100px;
  background-color: #fff;
}

.black {
  background-color: #000;
}

/* BEGIN QUESTION 2 */

.thailand-red {
  width: 500px;
  height: 45px;
  background-color: #B5002D;
}

.thailand-white {
  width: 500px;
  height: 45px;
  background-color: white;
}

.thailand-blue {
  width: 500px;
  height: 120px;
  background-color: #2E2A4C
}

/* END QUESTION 2 */

/* BEGIN QUESTION 3 */

/*.threehoriz {
  display:flex;
  flex-direction:row;
  align-items: stretch;
}*/

.romania-blue {
  width: 166px;
  height: 300px;
  background-color: #002c84;
}

.romania-yellow {
  position: relative;
  left: 166px;
  bottom: 300px;
  width: 167px;
  height: 300px;
  background-color: #ffcf00;
}

.romania-red {
  position: relative;
  left: 333px;
  bottom: 600px;
  width: 167px;
  height: 300px;
  background-color: #e10017;
}

/* END QUESTION 3 */

/* QUESTION 4 */
.mexico-green {
  width: 166px;
  height: 300px; 
  background-color: #006341;
}

.mexico-img {
  position: relative;
  left: 180px;
  bottom: 200px;
  background-color: white;
  width: 167px;
  height: 100px;
}

.mexico-red {
  position: relative;
  left: 340px;
  bottom: 300px;
  background-color: #ce1126;
  width: 155px;
  height: 300px;
}

/* QUESTION 6 */
.margin-container {
  height: 300px;
  width: 1030px;
  border-style: solid;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.label {
  color: purple;
}

.label:hover {
  color: orange;
  font-size: 60px;
}

/* For margin practice */
.flag1 {
  background-color: red;
  margin: 10px;
}

.flag2 {
  background-color: blue;
  margin: 10px;
}
/* For padding practice */
.padding-container {
  box-sizing: border-box;
  background-color: lightblue;
  background-clip: content-box, padding-box;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  /*height: 60px;
  width: 60px;*/
}
